<?xml version="1.0"?>
<config>
    <modules>
        <Databunch_Yml>
            <version>0.1</version>
        </Databunch_Yml>
    </modules>
    <admin>
        <routers>
            <yml>
                <use>admin</use>
                <args>
                    <module>Databunch_Yml</module>
                    <frontName>yml</frontName>
                </args>
            </yml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yml>
                                            <title>Databunch Yml Export</title>
                                        </yml>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Databunch_Yml>
                    <files>
                        <default>Databunch_Yml.csv</default>
                    </files>
                </Databunch_Yml>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <yml>
                <class>Databunch_Yml_Block</class>
            </yml>
        </blocks>
        <models>
            <yml>
                <class>Databunch_Yml_Model</class>
            </yml>
        </models>
        <helpers>
            <yml>
                <class>Databunch_Yml_Helper</class>
            </yml>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <yml_yandex>
                <schedule>
                    <cron_expr>0 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>yml/yml_yandex::generateCron</model>
                </run>
            </yml_yandex>
        </jobs>
    </crontab>
</config>