<config>
    <tabs>
        <databunch translate="label" module="yml">
            <label>Databunch Extensions</label>
            <sort_order>300</sort_order>
        </databunch>
    </tabs>
    <sections>
        <yml translate="label" module="yml">
            <label>Yml Export</label>
            <tab>databunch</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <!-- info -->
                <shop_info translate="label" module="yml">
                    <label>General shop info for yml file</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <name translate="label comment">
                            <label>Name</label>
                            <comment><![CDATA[* required]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <company translate="label comment">
                            <label>Company</label>
                            <comment><![CDATA[Full name of your company * required]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </company>
                        <local_delivery_cost>
                            <label>Local delivery cost</label>
                            <comment><![CDATA[Default local delivery cost]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </local_delivery_cost>
                    </fields>
                </shop_info>
                <yandex translate="label" module="yml">
                    <label>Yandex yml export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!-- info -->
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment><![CDATA[If Yes and Magento cron enabled - yml file for Yandex Market will be automatically generated every 2 hours.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <generate translate="label comment">
                            <label>Generate now</label>
                            <comment><![CDATA[Generate yml file for Yandex Market right now]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>yml/adminhtml_yandex_generate</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </generate>
                    </fields>
                </yandex>
            </groups>
        </yml>
    </sections>
</config>